.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.header {
    background-image: url("../header/header.png");
    background-size: cover;
    height: 470px;
    background-color: white !important; 
}

.icon-margin {
    margin-left: 5px;
    color: black;
    
}

.headerku {
    text-align: center;
    margin-top: 280px;
    font-size: 12px;
}

.headerku h3{
    font-size: 25px;
    font-weight: bold;
}

.headerku h5{
    font-size: 14px;
}

.headerku h6{
    font-size: 14px;
    font-weight: lighter;
}

/* About */
.about {
    background-image: url("../header/about.png");
    background-size: cover;
    height: 900px;
    margin: auto;
    margin-top: 100px;

}

.about-img {
    width: 200px;
    border: 7px solid #e1e1e1;
    box-shadow: 1px 10px 15px rgba(0, 0 , 0, 0.7);
}

.about-margin {
    text-align: center;
}

.about-desc {
    text-align: center;
}

.about-layout {
    margin-top: 30px;
}

.heading-line::after {
    content: '';
    display:block;
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
}

.display-about {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.about-layout p {
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.desc {
    font-weight: bold;
}


/* Dekstop Version */
@media (min-width: 992px) { 
    .nav-link {
        text-transform: uppercase;
        margin-right: 35px;
        margin-top: 10px;
    }

    .nav-link:hover{
        text-shadow: 1px 1px 1px rgba(0, 0 , 0, 0.2);
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid red;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        
    }

    .nav-putih {
        color: white !important;
    }

    .header {
        margin-top: -75px;
        height: 670px;

    }
    
    .headerku {
        text-align: center;
        margin-top: 200px;
        font-size: 15px;

    }

    .headerku h3{
        font-size: 28px;
        font-weight: bold;
    }
    
    .headerku h5{
        font-size: 16px;
    }
    
    .headerku h6{
        font-size: 18px;
        font-weight: lighter;
    }

    .about-img {
        width: 250px;
        border: 7px solid #e1e1e1;
        box-shadow: 1px 10px 15px rgba(0, 0 , 0, 0.7);
    }

    .about-desc {
        text-align: left;
    }

    .about {
        height: 700px;
        margin: auto;
    
    }

    .display-about {
        text-align: left;
        font-size: 30px;
    }

    .about-layout p {

        text-align: left;
    }
}