body{
    overflow:hidden;
}

* {
    font-family: 'Poppins', sans-serif;

}

/* preload bar */
.preload {
    width: 100%;
    height: 100%;
    
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

/* background gradient */
.bubble2{
    background: linear-gradient(30deg,#17171b 0%,#28282f 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.bubble{
    background: linear-gradient(30deg, rgba(212, 18, 18, 0.7), rgba(241, 172, 94, 1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.bubbles li {
    opacity: 0.065;
    color: white;
    position: absolute;
    list-style: none;
    display: block;
    bottom: -250px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    font-size: 80px;
    left: 20%;
}

.bubbles li:nth-child(2) {
    font-size: 150px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3) {
    font-size: 40px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4) {
    font-size: 210px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5) {
    font-size: 180px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}

.bubbles li:nth-child(6) {
    font-size: 255px;
    left: 5%;
    animation-delay: 4s;
    animation-duration: 15s;
}

.bubbles li:nth-child(7) {
    font-size: 90px;
    left: 15%;
    animation-delay: 9s;
    animation-duration: 9s;
}

.bubbles li:nth-child(8) {
    font-size: 275px;
    left: 95%;
    animation-delay: 6s;
    animation-duration: 15s;
}

.bubbles li:nth-child(9) {
    font-size: 195px;
    left: 65%;
    animation-delay: 5s;
    animation-duration: 8s;
}

.bubbles li:nth-child(10) {
    font-size: 120px;
    left: 35%;
    animation-delay: 7s;
    animation-duration: 10s;
}

/* Keyframe bubbel animation */

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        -moz-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

.bubble{
    height: 100%;
}

.container-fluid {
    width: 90% !important;
}

.container-menu{
    margin: 6%;
}

/* Menu */

.btn-hamburger {
    padding: 35px 26px !important;
}

.hamburger {
    position: relative;
    top: 50%;
    display: block;
    width: 26px;
    height: 2px;
    background: #323232;
}

.hamburger::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    height: 100%;
    width: 100%;
    background:#323232;
}

.hamburger::before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 100%;
    background: #323232;
}

/* Dropdown Menu */

.menu {
    margin-top: 15px;
}

.top-menu {
    list-style: none;
    display: inline;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    padding: 0 !important;
    font-size: 12px;

}

.card-menu {
    margin-top:5px;
}

.border-item {
    margin-top: 10px;
    border-bottom:solid 1px rgba(0, 0, 0, 0.2);

}

.top-menu a {
    text-decoration: none;
    color: #000;

}

.top-menu a:hover {
    text-decoration: none;
    color: rgba(212, 18, 18, 0.7);
}

/* Profile */
.profile {
    padding-right: 0 !important;
    z-index: 2;
    position: absolute;
    margin-top: -30px;
    margin-left: -10px;

}

.profiles {
    position: relative;
    top:-110px;
    height: 120px;
}

.card-profile {
    border: none !important;
    width: 100%;
    overflow: hidden;
    box-shadow: -20px -20px rgba(212, 18, 18, 0.2);
}

.card-profile.changed {
    box-shadow: -20px -20px rgba(33, 33, 39, 0.85);
}



.sosmed a{
    margin: 0px 5px;
    color: black;
    font-size: 18px;
}

.header-name {
    font-size: 34px;
    font-weight: 400;
    color: black;
}

.sosmed a:hover{
    text-decoration: none;
    color: rgba(212, 18, 18, 0.7);
}

.subtitle {
    color: rgba(212, 18, 18, 0.7);
}

.profile-button {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    z-index: 10;
    text-align: center;
}

.profile-button:before{
    content: '';
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,rgba(212, 18, 18, 0.7) 0%,rgba(255,255,255,0) 70%);
}

.profile-button.changed:before{
    background: radial-gradient(ellipse at center,rgba(200, 34, 200,1) 0%,rgba(255,255,255,0) 70%);
}

.button {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color:#323232;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    
}

.button:hover {
    text-decoration: none;
    color: rgba(212, 18, 18, 0.7);
}

/* .button.changed:hover {
    color: rgba(200, 34, 200, 1);
} */

.button:nth-child(1):before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top,rgba(212, 18, 18, 0.7) 0%,rgba(255,255,255,0) 70%);
}

.button.changed:nth-child(1):before{
    background: radial-gradient(ellipse at top,rgba(200, 34, 200, 1) 0%,rgba(255,255,255,0) 70%);
}

/* Wallpaper */

.size-wp {
    width:auto; 
    overflow: hidden; 
    margin:0; 
    height: 300px;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.crop-wp {
    margin:0;
    height: 300px;
    background-image: url('../image/senja.jpg');
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    
}

.crop-wp:before{
    content: '';
    position: absolute;
    left:-50%;
    bottom: -15%;
    width: 100%;
    height: 30%;
    background:#fff;
    transform: rotate(12deg);
}

.crop-wp.changed:before{
    background:#31313A;
}



.crop-wp:after {
    content: '';
    position: absolute;
    left:50%;
    bottom: -15%;
    width: 100%;
    height: 30%;
    background:#fff;
    transform: rotate(-12deg);
}

.crop-wp.changed:after {

    background:#31313A;
}

/* Photo Profile */
.size-profile{
    width:150px;
    overflow:hidden; 
    margin:0;  
    position: relative;
    top: -120px;
    border: solid 3px white;
    box-shadow: -10px 10px rgba(212, 18, 18, 0.2);

}
.crop-profile{
    width:100%; 
    margin:-25% 0;
    height: 215px;
}

/* content  */
.content {
    padding-left: 0 !important;
    
}

.card-content {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: scroll;
    overflow-x: hidden;
    height: 550px;
    position: absolute !important;
    top:0;
    right: 0;
    left: 0;
    border: 0 !important;
}

.content-about {
    margin: 0 15px;
}

.content-title {
    font-size: 20;
    font-weight: 600;
    margin-top: 5px;
    position: relative;
}

.content-title:before {
    content: '';
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg,rgba(255,44,0,0.4) 0%,rgba(255,255,255,0.1) 100%);
    border-radius: 50%;
    position: absolute;
    top:0px;
    left:-15px;
}

.content-title:after {
    content: '';
    position: absolute;
    left: -10%;
    top: 50px;
    right: 0;
    background: radial-gradient(ellipse at left, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    height: 1px;
}

.content-title.changed:after {
    content: '';
    position: absolute;
    background: radial-gradient(ellipse at left, rgb(200, 34, 200) 0%, rgba(255, 255, 255, 0) 70%);
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 10px;
    border: 1px solid rgba(212, 18, 18, 0.4);
    cursor: pointer;
    transition: all .5s ease;
}

.portfolio-menu ul li:hover {
    background: rgba(212, 18, 18, 0.7);
    color : #fff
}

.portfolio-item {
    width: 100%;

}

.portfolio-item .item {
    display: inline-block;
    margin:0 5px;
    padding: 5px;

}

li.active {
    background: rgba(212, 18, 18, 0.7);
    color: #fff;
}

.item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.img-item {
    position: relative;
    transition: .5s ease;
}

.item:hover .img-item {
    transform: scale(1.08);
}

.img-hover {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(212, 212, 212, 0.5);
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.item:hover .img-hover {
    bottom: 0;
    height: 100%;
}

.img-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: tomato;
    width: 100%;
    padding: 5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.item:hover .img-hover .img-text {
    opacity: 1;
}

.circle-quote {
    position: relative;
    top: 20px;
    left: 180px;
    text-align: center;
    background-color: white;
    height: 50px;
    width: 100px;
    border:solid 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-top:0;
    z-index: 1;
    font-size: 30px;
    color: rgba(212, 18, 18, 0.7);
    border-top: 0 !important;
}

.text-quote{
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}
.profile-quote{
    text-align: center;
    width: 100%;
}

.soekarno{
    border-radius: 50% !important;
    width: 100px;
    height: 100px;
}

/* Slide animation */

.hidden {
    /* visibility: hidden; */
    z-index:0;
}

.show {
    z-index: 1;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
    100% {
        opacity: 0;
        transform: translate3d(-70%,0,0);

    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 0;
        transform: translate3d(-70%,0,0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);

    }
}

/* Change color */
.color1 {
    width: 35px;
    height: 35px !important;
    background: linear-gradient(30deg, rgba(212, 18, 18, 0.7), rgba(241, 172, 94, 1));
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.color2{
    width: 35px;
    height: 35px !important;
    background: linear-gradient(30deg,#17171b 0%,#472360 100%) ;
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.2);

}

.transition {
    transition: .5s ease;
}

.resume-title{
    font-weight: 500;
    font-size: 17;
    position: relative;
    width: 100%;
    padding: 0 0 30px;

}

.resume-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}

.resume-title.changed:before {
    background: radial-gradient(ellipse at center,rgba(221, 221, 221, .55) 0%,rgba(255,255,255,0) 70%);

}

.resume-title div {
    display: inline-block;
}

.icon {
    position: relative;
    top: 5;
    color: rgba(212, 18, 18, 0.7);
    font-size: 30px;
    margin-right: 5px;
}

.resume-items .resume-item {
    padding: 30px 0;
    position: relative;
}

.resume-items .resume-item .date {
    border: solid #eee 1px;
    display: inline-block;
    padding: 0 5;
    color: #ccc;
    font-size: 13px;
    margin:0 0 11px;
}

.resume-items .resume-item .name {
    font-size: 17px;
    color:#323232;
    font-weight: 500;
}

.resume-items .resume-item .company {
    margin: 0 0 11px;
    font-size: 14px;
    color:#999;
    font-weight: 400;
}

.resume-items .resume-item .text {
    font-size: 16px;
    color:rgba(0, 0, 0, 0.8);
    line-height: 1.6;

}

.resume-items .resume-item .resume-active {
    border: 1px solid rgba(212, 18, 18, 0.7);
    color: rgba(212, 18, 18, 0.7);
}

.resume-item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}

.resume-item.changed:before{
    background: radial-gradient(ellipse at center,rgba(221, 221, 221, .55) 0%,rgba(255,255,255,0) 70%);

}

.border-line-v {
    position: relative;
}

.border-line-v:before {
    content: '';
    position: absolute;
    top: -20;
    left: 0;
    background: #000;
    height: 100%;
    width: 1px;
    background: radial-gradient(ellipse at top, #ddd 0%, rgba(255,255,255,0) 70%);
}

.border-line-v.changed:before{
    background: radial-gradient(ellipse at top,rgba(200, 34, 200,1) 0%,rgba(255,255,255,0) 70%);

}

.resume-skill {
    padding: 20px 0;
    position: relative;
}

.design ul {
    list-style: none;
    padding: 0 !important;
}

.border-line-design {
    padding: 5px 0;
    position: relative;
    line-height: 2.5;
}

.border-line-design .progress {
    border-radius: 0 !important;
    height: 6px;
}

.border-line-design .progress .percentage {
    background-color: rgba(212, 18, 18, 0.7);
    height: 6px;
}

.hard-skill .col-md-6 {
    text-align: center;
    padding: 0 !important;
}

.knowledge ul {
    list-style: none;
    padding: 0 !important;
}

.knowledge ul li .name{
    padding: 0 30px;
}

.border-line-knowledge {
    padding: 5px 0;
    position: relative;
    line-height: 2.5;
}

.border-line-knowledge .name{
    position: relative;
    
}

.border-line-knowledge .name:before{
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Font Awesome 5 Free';
    color: rgba(212, 18, 18, 0.7);
    font-style: normal;
    font-weight: 900;
    margin-right:10px;
}

.advance-skill ul {
    list-style: none;
    padding: 0 !important;

}




    @media (max-width: 768px) {
        body {
            overflow: scroll;
    }

}